				<!-- Start header image -->
				<div class="row">
					<div class="col-12 px-0">
						<img class="img-fluid" src="/images/layout/header.jpg">
					</div>
				</div>  
				<!-- End header image -->

				<!-- Start top card -->
				<div class="row">
					<div class="col-12 px-0">
						<div class="card rounded-0 border-0 rounded-top" style="margin-top: -20px; border-top-left-radius: 1rem !important; border-top-right-radius: 1rem !important;">
							<div class="card-header" style="border-top-left-radius: 1rem !important; border-top-right-radius: 1rem !important; background: white;">
								<span class="badge badge-secondary">Partially open</span>
								<span class="badge badge-success">Approved</span>
							</div>
							<div class="card-body">
								<h4 >Amsterdam</h4>
								<p class="mb-1">Netherlands</p>
								<p class="mb-3 text-muted">Mon, 15 Jun - Thu, 18 Jun 2020</p>
								<p class="mb-0 card-text font-weight-light">
									<ion-icon name="star" class="icon-star"></ion-icon>
									<ion-icon name="star" class="icon-star"></ion-icon>
									<ion-icon name="star" class="icon-star"></ion-icon>
									<ion-icon name="star" class="icon-star"></ion-icon>
									<ion-icon name="star" class="icon-star" style="margin-right: 10px;"></ion-icon>
									colleague rating</p>
								<p class="mb-0 card-text font-weight-light">
									<ion-icon name="leaf" class="icon-leaf"></ion-icon>
									<ion-icon name="leaf" class="icon-leaf"></ion-icon>
									<ion-icon name="leaf" class="icon-leaf"></ion-icon>
									<ion-icon name="leaf-outline" class="icon-leaf"></ion-icon>
									<ion-icon name="leaf-outline" class="icon-leaf" style="margin-right: 10px;"></ion-icon>
									environmental impact</p>
								<p class="mb-0 card-text font-weight-light" style="">
									<ion-icon name="heart" class="icon-heart"></ion-icon>
									<ion-icon name="heart" class="icon-heart"></ion-icon>
									<ion-icon name="heart" class="icon-heart"></ion-icon>
									<ion-icon name="heart" class="icon-heart"></ion-icon>
									<ion-icon name="heart-outline" class="icon-heart" style="margin-right: 10px;"></ion-icon>
									well-being</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End top card -->
				
				<!-- Start menu -->
				<div class="container-fluid px-0">
					<div class="row">
						<div class="col-12 px-0 menu">
							<div class="tabbable">
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item" role="presentation">
										<a class="nav-link active" id="checklist-tab" data-toggle="tab" href="#checklist" role="tab" aria-controls="checklist" aria-selected="true">Checklist</a>
									</li>
									
									<li class="nav-item" role="presentation">
										<a class="nav-link" id="country-tab" data-toggle="tab" href="#country" role="tab" aria-controls="country" aria-selected="false">Country</a>
									</li>
									
									<li class="nav-item" role="presentation">
										<a class="nav-link" id="city-tab" data-toggle="tab" href="#city" role="tab" aria-controls="city" aria-selected="false">City</a>
									</li>
									
									<li class="nav-item" role="presentation">
										<a class="nav-link" id="wellbeing-tab" data-toggle="tab" href="#wellbeing" role="tab" aria-controls="wellbeing" aria-selected="false">Well-being</a>
									</li>

									<li class="nav-item" role="presentation">
										<a class="nav-link" id="sustainability-tab" data-toggle="tab" href="#sustainability" role="tab" aria-controls="sustainability" aria-selected="false">Environment</a>
									</li>
								</ul>
							</div>
						</div>
						
						<div class="col-12 px-0 tab-content pb-5" id="myTabContent">

							<!-- Start checklist -->
							<div class="tab-pane fade show active" id="checklist" role="tabpanel" aria-labelledby="checklist-tab">
								<div class="col-12 pt-3">
									<div class="card shadow-sm">
										<div class="card-body">
											<img src="/images/checklist_amsterdam.jpg" class="card-img mb-3" alt="Corona symptoms">

											<h5 class="card-title font-weight-light">Well-being</h5>
											<p class="card-text">
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
													<label class="form-check-label ml-2" for="inlineCheckbox2"><strong>Pickup Health Kit</strong></label>
												</div>
												<ion-icon name="chevron-forward" class="chevron float-right" style="margin-top: 0px;"></ion-icon>
												<span class="badge float-right border font-weight-normal mr-1" style="padding: 5px 10px; text-transform: none; font-size: 13px;"><span class="dot"></span>open</span>
											</p>

											<hr class="mt-2 mb-3"/>

											<h5 class="card-title font-weight-light">Documentation</h5>
											<p class="card-text">
												<div class="form-check form-check-inline">
													<ion-icon name="checkmark-outline" class="icon-checkmark"></ion-icon>
													<label class="form-check-label ml-2 text-muted" for="inlineCheckbox2"><s>Apply for a VISA</s></label>
												</div>
											</p>

											<hr class="mt-2 mb-3"/>

											<p class="card-text">
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option2">
													<label class="form-check-label ml-2" for="inlineCheckbox3"><strong>Essential<br />Business Letter</strong></label>
												</div>
												<ion-icon name="chevron-forward" class="chevron float-right" style="margin-top: 12px;"></ion-icon>
												<span class="badge float-right text-white font-weight-normal mr-1" style="margin-top: 12px; padding: 5px 10px; text-transform: none; font-size: 13px; background-color: #ff8103;">Due 12/7/2020</span>
											</p>

											<hr class="mt-2 mb-3"/>

											<p class="card-text">
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option2" checked>
													<label class="form-check-label ml-2" for="inlineCheckbox4"><strong>Read Travel<br />Policy</strong></label>
												</div>
												<ion-icon name="chevron-forward" class="chevron float-right" style="margin-top: 12px; padding: 0px;"></ion-icon>
												<span class="badge border float-right font-weight-normal" style="margin-top: 12px; padding: 5px 10px; text-transform: none; font-size: 13px;"><span class="dot"></span>in progress</span>
											</p>

											<hr class="mt-2 mb-3"/>

											<div class="row">
												<div class="col-12">
													<button class="btn btn-primary mr-2 border-0" style="border-radius: 50%; width: 40px; height: 40px; background-color: black;" type="submit">
														<ion-icon name="add" size="large" style="color: white; margin-left: -7px; margin-top: -2px;"></ion-icon>
													</button>
													<strong>Add more tasks</strong>
												</div>
												<div class="col-12 mt-3">
													<button class="btn btn-primary border-0 mr-2" style="border-radius: 50%; width: 40px; height: 40px; background-color: black;" type="submit">
														<ion-icon name="share" style="font-size: 24px; color: white; margin-left: -3px; margin-top: 0px;"></ion-icon>
													</button>
													<strong>Share checklist</strong>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 mt-4 bottom-text">
										The information displayed on this page comes from several sources. Always double check with other sources before you book or leave on a trip. 
									</div>
								</div>
							</div>
							<!-- End checklist -->

							<!-- Start country -->
							<div class="tab-pane fade" id="country" role="tabpanel" aria-labelledby="country-tab">
								<div class="col-12 pt-3">
									<div class="card shadow-sm">
										<div class="card-body">
											<h5 class="card-title font-weight-light">COVID-19 OUTBREAK</h5>
											<div class="row">
												<div class="col-6">Total cases<br /><strong>48,461</strong></div>
												<div class="col-6">Death cases<br /><strong>6,053</strong></div>
											</div>
											<div class="row mt-3">
												<div class="col-6">Recovered<br /><strong>not reported</strong></div>
												<div class="col-6">Last updated<br /><strong>13/06/2020</strong></div>
											</div>
											<div class="row mt-3">
												<div class="col-6">Infected % population<br /><strong style="color: #00e46e;">0.28%</strong></div>
												<div class="col-6">Death % population<br /><strong style="color: #00e46e;">0.03%</strong></div>
											</div>
											<div class="row mt-3">
												<div class="col-6">Infection risk score<br /><strong style="color: #00e46e;">3/100</strong></div>
												<div class="col-6">Lockdown<br /><strong>No</strong></div>
											</div>
										</div>
									</div>
									<div class="card shadow-sm mt-3">
										<img src="/images/video_banner.jpg" class="card-img" alt="Corona symptoms">
									</div>
									<div class="card shadow-sm mt-3">
										<div class="card-body">
											<h5 class="card-title font-weight-light">Arrive at destination</h5>
											<p class="card-text">
												<strong>Entry restrictions</strong><br />
												Most international travelers are not allowed to enter the Netherlands.
											</p>
											<p class="card-text">
												<strong>Recommended 14-day quarantine</strong><br />
												All travelers arriving from high-risk areas found on the European Union Aviation Safety Agencies list are strongly advised to quarantine for 14 days upon arrival.
											</p>
											<p class="card-text">
												<strong>Mandatory health declaration form before departure</strong><br />
												Travelers are required to fill out a health declaration before boarding if they are arriving from a country on the European Union Aviation Safety Agencies high-risk areas list.
											</p>
											<p class="card-text">
												<strong>Mandatory essential business letter</strong><br />
												Travelers are required to show an official business letter that proves their travel is essential.
											</p>
										</div>
									</div>
									<div class="card shadow-sm mt-3">
										<div class="card-body">
											<h5 class="card-title font-weight-light">Arrive home from destination</h5>
											<p class="card-text">
												<strong>Entry restrictions</strong><br />
												Travelers can’t enter the United States if they have visited selected countries in the past 14 days.
											</p>
											<p class="card-text">
												<strong>Mandatory 14-day quarantine</strong><br />
												All travelers that have been to a selected country within 14 days of their arrival are required to self-quarantine for 14 days at home.
											</p>
											<p class="card-text">
												<strong>Mandatory health declaration form</strong><br />
												Individual states may have their own restrictions and procedures in place. Check with local authorities for travel information before entering each US state.
											</p>
										</div>
									</div>
									
									<div class="card shadow-sm mt-3">
										<div class="card-body">
											<h5 class="card-title font-weight-light">Visa</h5>
											<p class="card-text">
												<strong>Visa</strong><br />
												You don't need a visa. You can travel to Netherlands for a limited stay. Make sure to check other entry requirements and how long you can stay for.
											</p>
											<p class="card-text">
												<strong>Stay</strong><br />
												90 days within any 180-day period in the Schengen Area (European Netherlands)
											</p>
											<p class="card-text">
												<strong>Passport validity</strong><br />
												6 months.
											</p>
											<p class="card-text">
												<strong>Passport</strong><br />
												Your passport must have two blank pages per entry.
											</p>
											<p class="card-text">
												<strong>Currency</strong><br />
												Euros.
											</p>
											<p class="card-text">
												<strong>Vaccination</strong><br />
												You do not require any vaccinations.
											</p>
										</div>
									</div>
									<div class="col-12 mt-4 bottom-text">
										The information displayed on this page comes from several sources. Always double check with other sources before you book or leave on a trip.
									</div>
								</div>
							</div>
							<!-- End country -->

							<!-- Start city -->
							<div class="tab-pane fade" id="city" role="tabpanel" aria-labelledby="city-tab">
								<div class="col-12 pt-3">
									<div class="card shadow-sm">
										<div class="card-body">
											<h5 class="card-title font-weight-light">Transport</h5>
											<p class="card-text">
												<strong>Public transport</strong><br />
												Operational with restrictions.
											</p>
											<p class="card-text">
												<strong>Nike preferred transport</strong><br />
												You should use: private car services or taxi services.
											</p>
											<p class="card-text">
												<strong>Nike non-preferred transport</strong><br />
												You should not use: car retnal, public transport or ride sharing.
											</p>
										</div>
									</div>

									<div class="card shadow-sm mt-3">
										<div class="card-body">
											<h5 class="card-title font-weight-light">Colleague reviews</h5>
											<p class="card-text">
												<div class="row">
													<div class="col-3">
														<img src="/images/smoel.jpg" class="img-fluid rounded-circle" alt="" />
													</div>
													<div class="col-9">
														<p class="font-weight-bold mb-0">"Vibrant and fun city. Amazing peo..."</p>
														<p class="mb-0"><ion-icon name="star" class="icon-star"></ion-icon>
															<ion-icon name="star" class="icon-star"></ion-icon>
															<ion-icon name="star" class="icon-star"></ion-icon>
															<ion-icon name="star" class="icon-star"></ion-icon>
															<ion-icon name="star" class="icon-star"></p>
														<p class="mb-0">Aurélie Krau:</p>
													</div>
												</div>
											</p>
											<p class="card-text">
												Vibrant and fun city. Amazing people, those Dutchies. One of the signature dishes, bitterballen, is something you should try. Tip: Say ‘Goedemorgen’ to win over…
											</p>
										</div>
									</div>

									<div class="card shadow-sm mt-3">
										<div class="card-body">
											<h5 class="card-title font-weight-light">Food & Entertainment</h5>
											<p class="card-text">
												<strong>Restaurant</strong><br />
												Open with restrictions.
											</p>
											<p class="card-text">
												<strong>Shopping</strong><br />
												Open.
											</p>
											<p class="card-text">
												<strong>Events</strong><br />
												Outdoor and indoor events with up to 30 people with social distancing allowed.
											</p>
											<p class="card-text">
												<strong>Tourist attractions</strong><br />
												Open with restrictions.
											</p>
											<p class="card-text">
												<strong>Nike preferred conduct</strong><br />
												Please eat the hotel restaurant to ensure maximum safety and hygiene. Try to minimize shopping, attending events and visiting tourist attractions.
											</p>
										</div>
									</div>
									<div class="card shadow-sm mt-3">
										<img src="/images/cityguide_banner.jpg" class="card-img" alt="Timeshifter">
									</div>
									<div class="card shadow-sm mt-3">
										<div class="card-body">
											<h5 class="card-title font-weight-light">Office</h5>
											<p class="card-text">
												<strong>Restrictions</strong><br />
												Open with social distancing.
											</p>
										</div>
									</div>
									<div class="col-12 mt-4 bottom-text">
										The information displayed on this page comes from several sources approved by Nike. Always double check with other sources before you book or leave on a trip.
									</div>
								</div>
							</div>
							<!-- End city -->

							<!-- Start well being -->
							<div class="tab-pane fade" id="wellbeing" role="tabpanel" aria-labelledby="wellbeing-tab">
								<div class="col-12 pt-3">
									<div class="card shadow-sm">
										<div class="card-body">
											<h5 class="card-title font-weight-light">Health</h5>
											<p class="card-text">
												<strong>Health kit</strong><br />
												You need to pick up a health kit from your local office.
											</p>
											<p class="card-text">
												<strong>Special insurance</strong><br />
												All Nike travelers have special travel insurance that covers all health incidents, including COVID-19 related hospital admittance.
											</p>
											<p class="card-text">
												<strong>Quarantine cost</strong><br />
												Nike covers all quarantine costs in case of mandatory quarantine upon entry, or when quarantined upon contact with an infected individual.
											</p>
										</div>
									</div>
									<div class="card shadow-sm mt-3">
										<img src="/images/headspace_banner.jpg" class="card-img" alt="Headspace">
									</div>
									<div class="card shadow-sm mt-3">
										<img src="/images/ntc_banner.jpg" class="card-img" alt="NTC">
									</div>
									<div class="card shadow-sm mt-3">
										<div class="card-body">
											<h5 class="card-title font-weight-light">Exercise</h5>
											<p class="card-text">
												<strong>Nike gyms</strong><br />
												You have free access to all gyms that are connected to Nike Training Club.
											</p>
											<p class="card-text">
												<strong>Daily allowance</strong><br />
												We believe in healthy travel at Nike; you can spend $20 every day to work out at any gym or sports club.
											</p>
										</div>
									</div>
									<div class="card shadow-sm mt-3">
										<img src="/images/timeshifter_banner.jpg" class="card-img" alt="Timeshifter">
									</div>
									<div class="col-12 mt-4 bottom-text">
										The information displayed on this page comes from several sources. Always double check with other sources before you book or leave on a trip.
									</div>
								</div>
							</div>
							<!-- End well-being -->

							<!-- Start sustainability -->
							<div class="tab-pane fade" id="sustainability" role="tabpanel" aria-labelledby="sustainability-tab">
								<div class="col-12 pt-3">
									<div class="card shadow-sm">
										<div class="card-body">
											<h5 class="card-title font-weight-light">Environmental impact score</h5>
											<p class="card-text">
												Average sustainability score for this route, and 3 nights.<br />
												<span class="font-weight-bold" style="color: #fe8103;">63/100</span>
											</p>
										</div>
									</div>
									<div class="card shadow-sm mt-3">
										<img src="/images/impact_banner.jpg" class="card-img" alt="Corona symptoms">
									</div>
									<div class="card shadow-sm mt-3">
										<div class="card-body">
											<h5 class="card-title font-weight-light">Carbon footprint flight</h5>
											<p class="card-text">
												<div class="row">
													<div class="col-4"><img src="/images/carbon_homes_selected.png" class="img-fluid" alt=""></div>
													<div class="col-4"><img src="/images/carbon_trees_unselected.png" class="img-fluid" alt=""></div>
													<div class="col-4"><img src="/images/carbon_waste_unselected.png" class="img-fluid" alt=""></div>
												</div>
											</p>
											<p class="card-text">
												<strong>Your carbon footprint</strong><br />
												An average flight from New York to Amsterdam equals the effort of powering <strong>1 home</strong> with energy for <strong>5 days</strong>.<br /><br />On average, flying this distance results in <strong>0.7 tCO2</strong> being produced.
											</p>
										</div>
									</div>
									<div class="card shadow-sm mt-3">
										<div class="card-body">
											<h5 class="card-title font-weight-light">Carbon footprint hotel</h5>
											<p class="card-text">
												<div class="row">
													<div class="col-4"><img src="/images/carbon_homes_unselected.png" class="img-fluid" alt=""></div>
													<div class="col-4"><img src="/images/carbon_trees_selected.png" class="img-fluid" alt=""></div>
													<div class="col-4"><img src="/images/carbon_waste_unselected.png" class="img-fluid" alt=""></div>
												</div>
											</p>
											<p class="card-text">
												<strong>Your carbon footprint</strong><br />
												On average, 3 nights in a hotel room in Amsterdam generates carbon that can be sequestered by <strong>2 trees</strong> being planted.<br /><br />On average, staying in a hotel room for <strong>3 nights</strong> results in <strong>0.06 tCO2</strong> being produced.
											</p>
										</div>
									</div>
									<div class="col-12 mt-4 bottom-text">
										Your emission is calculated using the Greenhouse Gas Protocol. The formulas used are a simple calculation based on averages to create more awareness for you.
									</div>
								</div>
							</div>
							<!-- End sustainability -->

						</div>
					</div>
				</div>
				<!-- End menu -->