				<!-- Start header image -->
				<div class="row">
					<div class="col-12 px-0">
						<a href="javascript:history.back();"><img class="img-fluid" src="/images/layout/header_letter.jpg"></a>
					</div>
				</div>  
				<!-- End header image -->

				<!-- Start top card -->
				<div class="row">
					<div class="col-12 px-0">
						<div class="card rounded-0 border-0">

							<div class="card-body">
								
								<h4><input type="checkbox" class="input-control mr-2" style="width: 17px; height: 17px;" /> Essential Business Letter</h4>
								
								<div class="row">
									<div class="col-md-12">
										<span class="badge text-white font-weight-normal mr-1" style="margin-top: 12px; padding: 5px 10px; text-transform: none; font-size: 13px; background-color: #ff8103;">Due 12/5/2020</span>
									</div>
								</div>
								
								<div class="row mt-5">
									<div class="col-md-12">
										<p class="card-text mb-4"><strong>Travel prepared with a letter of authorization.</strong></p>
										
										<p class="card-text mb-4">Employees of businesses that remain open who need to travel to and from their workplaces and/or other locations could encounter questions from individuals such as law enforcement officers or security guards regarding the employee’s activities.</p>

<p class="card-text mb-4">A letter provided to employees that explains the employee is employed by an “essential” or “life-sustaining” business and is traveling in connection with his or her employment could be useful to employees encountering such questions as well as provide reassurance about possible travel obstacles.</p>

<p class="card-text mb-4">In some countries, states or locales where non-essential businesses have been told to close, or in the case of curfews, employees of essential businesses may be asked to show evidence of their employment within those essential businesses when traveling. Nike Travel has created a template for a COVID-19 Essential Employee Authorization Letter to assist.</p>

									</div>
								</div>
								
								<div class="row mt-5 mb-3">
									<div class="col-md-12">
									
										<a href="http://tool.getroadmap.com/letter" class="btn btn-submit" style="width: 100%; font-size: 16px; line-height: 49px; height: 52px;">Download your letter</a>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End top card -->