<div class="row" style="border-radius: 15px;">
	<div class="col-md-12 action-bar">
		<span class="badge badge-secondary">Partially open</span>
		<span class="badge badge-success">Approved</span>
	</div>
	
	<div class="col-md-12 infoblock">
		<h3>{{capitalize city}}</h3>
		<h4>{{capitalize country}}</h4>
		
		<h5>Mon, 15 Jun - Thu, 18 Jun 2020</h5>
	</div>
	
	<div class="menu">
		<ul>
			<li>Checklist</li>
			<li>Country</li>
			<li>City</li>
			<li>Travel Tips</li>
		</ul>
	</div>
</div>