				<!-- Start header image -->
				<div class="row">
					<div class="col-12 px-0">
						<a href="/"><img class="img-fluid" src="/images/layout/header_entry.png"></a>
					</div>
				</div>  
				<!-- End header image -->

				<!-- Start top card -->
				<div class="row">
					<div class="col-12 px-0">
						<div class="card rounded-0 border-0 rounded-top" style="margin-top: -20px; border-top-left-radius: 1rem !important; border-top-right-radius: 1rem !important;">

							<div class="card-body">
								<form action="/advice">
									<h4 >All destination information at your fingertips</h4>
									<p class="mb-3 text-muted">Fill out the fields below</p>
	
									<div class="row mb-6">
										<div class="col-md-12">
											<p class="card-text mb-2"><strong>Destination</strong></p>
											<input type="text" class="form-control" placeholder="Search city" name="destination" required />
										</div>
									</div>
	
									<div class="row mb-6">
										<div class="col-md-12">
											<p class="card-text mb-2"><strong>Departure date</strong></p>
											<input type="text" class="date-picker form-control" data-date-start-view="days" data-date-format="dd/mm/yyyy" data-date="15/06/2020" required name="departure_date" placeholder="Departure date" />
										</div>
									</div>
	
									<div class="row mb-6">
										<div class="col-md-12">
											<p class="card-text mb-2"><strong>Return date</strong></p>
											<input type="text" class="date-picker form-control" data-date-start-view="days" data-date-format="dd/mm/yyyy" data-date="18/06/2020" required name="return_date" placeholder="Return date" />
										</div>
									</div>
	
	
									<div class="row mb-6">
										<div class="col-md-12">
											<p class="card-text mb-2"><strong>Your citizenship</strong></p>
											<input type="text" class="form-control" placeholder="Search country" name="citizenship" required />
										</div>
									</div>
									
									
									<div class="row mb-6">
										<div class="col-md-12">
											<p class="card-text mb-2"><strong>Your home location</strong></p>
											<input type="text" class="form-control" placeholder="Search city" name="home_location" required />
										</div>
									</div>
									
									
									<div class="row mb-6">
										<div class="col-md-12">
											<p class="card-text mb-2"><strong>Traveled to in the past month</strong></p>
											<input type="text" class="form-control" placeholder="Search country" name="traveled" required />
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-12 text-center">
											<button type="submit" class="btn btn-submit" disabled="disabled" id="entryButton">Take me to destination info</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- End top card -->