				<!-- Start header image -->
				<div class="row">
					<div class="col-12 px-0">
						<img class="img-fluid" src="/images/layout/header.jpg">
					</div>
				</div>  
				<!-- End header image -->

				<!-- Start top card -->
				<div class="row">
					<div class="col-12 px-0">
						<div class="card rounded-0 border-0 rounded-top" style="margin-top: -20px; border-top-left-radius: 1rem !important; border-top-right-radius: 1rem !important;">

							<div class="card-body">
								<h4 >All destination information at your fingertips</h4>
								<p class="mb-3 text-muted">Fill out the fields below</p>

								<div class="row mb-6">
									<div class="col-md-12">
										<p class="card-text mb-2"><strong>Destination</strong></p>
										<input type="text" class="form-control" placeholder="Search city" required />
									</div>
								</div>


								<div class="row mb-6">
									<div class="col-md-12">
										<p class="card-text mb-2"><strong>Your citizenship</strong></p>
										<input type="text" class="form-control" placeholder="Search country" required />
									</div>
								</div>
								
								
								<div class="row mb-6">
									<div class="col-md-12">
										<p class="card-text mb-2"><strong>Your home location</strong></p>
										<input type="text" class="form-control" placeholder="Search city" required />
									</div>
								</div>
								
								
								<div class="row mb-6">
									<div class="col-md-12">
										<p class="card-text mb-2"><strong>Traveled to in the past month</strong></p>
										<input type="text" class="form-control" placeholder="Search country" required />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End top card -->