				<!-- Start header image -->
				<div class="row">
					<div class="col-12 px-0">
						<a href="javascript:history.back();"><img class="img-fluid" src="/images/layout/header_checklist.png"></a>
					</div>
				</div>  
				<!-- End header image -->

				<!-- Start top card -->
				<div class="row">
					<div class="col-12 px-0">
						<div class="card rounded-0 border-0">

							<div class="card-body">
								
								<h4><input type="checkbox" class="input-control mr-2" style="width: 17px; height: 17px;" /> Pickup Health Kit</h4>
								
								<div class="row">
									<div class="col-md-12">
										<span class="badge border font-weight-normal mr-2" style="padding: 5px 10px; text-transform: none; font-size: 13px;"><span class="dot"></span>open</span>
										
										<span class="badge text-white font-weight-normal mr-1" style="margin-top: 12px; padding: 5px 10px; text-transform: none; font-size: 13px; background-color: #ff8103;">Due 12/7/2020</span>
									</div>
								</div>
								
								<div class="row mt-5">
									<div class="col-md-12">
										<p class="card-text mb-4"><strong>We’ve got your back!</strong></p>
										
										<p class="card-text">When traveling it’s imperative that you bring your Nike health kit along for the ride. As your travel team we’ve arranged for your health kit to be send to your house for your safety and convenience.</p>
										
										<p class="card-text">When for whatever reason it becomes unable to send the kit to your place in time, you’re free to request an appointment to collect one at your office.</p>
									</div>
								</div>
								
								<div class="row mt-5">
									<div class="col-md-12">
									
										<a href="#" class="btn btn-submit" style="width: 100%; font-size: 16px; line-height: 49px; height: 52px;">Request your health kit</a>
										<a href="#" class="btn btn-submit mt-4" style="width: 100%; font-size: 16px; line-height: 49px; height: 52px;">Add deadline to calendar</a>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End top card -->