<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Roadmap Trave/Scrum Hackathon</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel='stylesheet' href='https://www.getroadmap.com/static/assets/fonts/helvetica.css' type='text/css' media='all' />

	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
				<div class="container-fluid px-0">
					<div class="row">
						<div class="col-12 px-0">
							<img class="img-fluid" src="/images/layout/header.jpg">
						</div>
					</div>  
					<div class="row">
						<div class="col-12 px-0">
							<div class="card rounded-0 border-0 rounded-top" style="margin-top: -20px; border-top-left-radius: 1rem !important; border-top-right-radius: 1rem !important;">
								<div class="card-header" style="border-top-left-radius: 1rem !important; border-top-right-radius: 1rem !important; background: white;">
									<span class="badge badge-secondary">Partially open</span>
									<span class="badge badge-success">Approved</span>
								</div>
								<div class="card-body">
									<h4 >Amsterdam</h4>
									<p class="mb-1">Netherlands</p>
									<p class="mb-3 text-muted">Mon, 15 Jun - Thu, 18 Jun 2020</p>
									<p class="mb-0 card-text font-weight-light">
										<ion-icon name="star" class="icon-star"></ion-icon>
										<ion-icon name="star" class="icon-star"></ion-icon>
										<ion-icon name="star" class="icon-star"></ion-icon>
										<ion-icon name="star" class="icon-star"></ion-icon>
										<ion-icon name="star" class="icon-star" style="margin-right: 10px;"></ion-icon>
										colleague rating</p>
									<p class="mb-0 card-text font-weight-light">
										<ion-icon name="leaf" class="icon-leaf"></ion-icon>
										<ion-icon name="leaf" class="icon-leaf"></ion-icon>
										<ion-icon name="leaf" class="icon-leaf"></ion-icon>
										<ion-icon name="leaf-outline" class="icon-leaf"></ion-icon>
										<ion-icon name="leaf-outline" class="icon-leaf" style="margin-right: 10px;"></ion-icon>
										environmental impact</p>
									<p class="mb-0 card-text font-weight-light" style="">
										<ion-icon name="heart" class="icon-heart"></ion-icon>
										<ion-icon name="heart" class="icon-heart"></ion-icon>
										<ion-icon name="heart" class="icon-heart"></ion-icon>
										<ion-icon name="heart" class="icon-heart"></ion-icon>
										<ion-icon name="heart-outline" class="icon-heart" style="margin-right: 10px;"></ion-icon>
										well-being</p>
								</div>
							</div>
						</div>
					</div>
					

					<div class="container-fluid px-0">
						<div class="row">
							<div class="col-12 px-0 menu">
								<div class="tabbable">
									<ul class="nav nav-tabs" id="myTab" role="tablist">
										<li class="nav-item" role="presentation">
											<a class="nav-link" id="checklist-tab" data-toggle="tab" href="#checklist" role="tab" aria-controls="checklist" aria-selected="false">Checklist</a>
										</li>
										
										<li class="nav-item" role="presentation">
											<a class="nav-link" id="country-tab" data-toggle="tab" href="#country" role="tab" aria-controls="country" aria-selected="false">Country</a>
										</li>
										
										<li class="nav-item" role="presentation">
											<a class="nav-link active" id="city-tab" data-toggle="tab" href="#city" role="tab" aria-controls="city" aria-selected="true">City</a>
										</li>
										
										<li class="nav-item" role="presentation">
											<a class="nav-link" id="wellbeing-tab" data-toggle="tab" href="#wellbeing" role="tab" aria-controls="wellbeing" aria-selected="false">Well-being</a>
										</li>

										<li class="nav-item" role="presentation">
											<a class="nav-link" id="sustainability-tab" data-toggle="tab" href="#sustainability" role="tab" aria-controls="sustainability" aria-selected="false">Sustainability</a>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="col-12 px-0 tab-content pb-3" id="myTabContent">
								<div class="tab-pane fade" id="checklist" role="tabpanel" aria-labelledby="checklist-tab">

								</div>

								<!-- Start country -->
								<div class="tab-pane fade" id="country" role="tabpanel" aria-labelledby="country-tab">
									<div class="col-12 pt-3">
										<div class="card shadow-sm">
											<div class="card-body">
												<h5 class="card-title font-weight-light">COVID-19 OUTBREAK</h5>
												<div class="row">
													<div class="col-4">Total cases<br /><strong>48,461</strong></div>
													<div class="col-4">Death cases<br /><strong>6,053</strong></div>
													<div class="col-4">Recovered<br /><strong>not reported</strong></div>
												</div>
												<div class="row mt-3">
													<div class="col-4">Infected % population<br /><strong style="color: #00e46e;">0.28%</strong></div>
													<div class="col-4">Death % population<br /><strong style="color: #00e46e;">0.03%</strong></div>
													<div class="col-4">Infection risk score<br /><strong style="color: #00e46e;">3/100</strong></div>
												</div>
												<div class="row mt-3">
													<div class="col-4">Lockdown<br /><strong>No</strong></div>
													<div class="col-4">Last updated<br /><strong>13/06/2020</strong></div>
												</div>
											</div>
										</div>
										<div class="card shadow-sm mt-3">
											<img src="/images/video_banner.jpg" class="card-img" alt="Corona symptoms">
										</div>
										<div class="card shadow-sm mt-3">
											<div class="card-body">
												<h5 class="card-title font-weight-light">Arrive at destination</h5>
												<p class="card-text">
													<strong>Entry restrictions</strong><br />
													Most international travelers are not allowed to enter the Netherlands.
												</p>
												<p class="card-text">
													<strong>Recommended 14-day quarantine</strong><br />
													All travelers arriving from high-risk areas found on the European Union Aviation Safety Agencies list are strongly advised to quarantine for 14 days upon arrival.
												</p>
												<p class="card-text">
													<strong>Mandatory health declaration form before departure</strong><br />
													Travelers are required to fill out a health declaration before boarding if they are arriving from a country on the European Union Aviation Safety Agencies high-risk areas list.
												</p>
												<p class="card-text">
													<strong>Mandatory essential business letter</strong><br />
													Travelers are required to show an official business letter that proves their travel is essential.
												</p>
											</div>
										</div>
										<div class="card shadow-sm mt-3">
											<div class="card-body">
												<h5 class="card-title font-weight-light">Arrive home from destination</h5>
												<p class="card-text">
													<strong>Entry restrictions</strong><br />
													Travelers can’t enter the United States if they have visited selected countries in the past 14 days.
												</p>
												<p class="card-text">
													<strong>Mandatory 14-day quarantine</strong><br />
													All travelers that have been to a selected country within 14 days of their arrival are required to self-quarantine for 14 days at home.
												</p>
												<p class="card-text">
													<strong>Mandatory health declaration form</strong><br />
													Individual states may have their own restrictions and procedures in place. Check with local authorities for travel information before entering each US state.
												</p>
											</div>
										</div>
										
										<div class="card shadow-sm mt-3">
											<div class="card-body">
												<h5 class="card-title font-weight-light">Visa</h5>
												<p class="card-text">
													<strong>Visa</strong><br />
													You don't need a visa. You can travel to Netherlands for a limited stay. Make sure to check other entry requirements and how long you can stay for.
												</p>
												<p class="card-text">
													<strong>Stay</strong><br />
													90 days within any 180-day period in the Schengen Area (European Netherlands)
												</p>
												<p class="card-text">
													<strong>Passport validity</strong><br />
													6 months.
												</p>
												<p class="card-text">
													<strong>Passport</strong><br />
													Your passport must have two blank pages per entry.
												</p>
												<p class="card-text">
													<strong>Currency</strong><br />
													Euros.
												</p>
												<p class="card-text">
													<strong>Vaccination</strong><br />
													You do not require any vaccinations.
												</p>
											</div>
										</div>
									</div>
								</div>
								<!-- End country -->

								<!-- Start city -->
								<div class="tab-pane fade show active" id="city" role="tabpanel" aria-labelledby="city-tab">
									<div class="col-12 pt-3">
										<div class="card shadow-sm">
											<div class="card-body">
												<h5 class="card-title font-weight-light">Transport</h5>
												<p class="card-text">
													<strong>Public transport</strong><br />
													Operational with restrictions.
												</p>
												<p class="card-text">
													<strong>Nike preferred transport</strong><br />
													You should use: private car services or taxi services.
												</p>
												<p class="card-text">
													<strong>Nike non-preferred transport</strong><br />
													You should not use: car retnal, public transport or ride sharing.
												</p>
											</div>
										</div>

										<div class="card shadow-sm mt-3">
											<div class="card-body">
												<h5 class="card-title font-weight-light">Colleague reviews</h5>
												<p class="card-text">
													<div class="row">
														<div class="col-3">
															<img src="/images/smoel.png" class="img-fluid image-rounded" alt="" />
														</div>
														<div class="col-9">
															<p class="font-weight-bold mb-0">"Vibrant and fun city. Amazing peo..."</p>
															<p class="mb-0"><ion-icon name="star" class="icon-star"></ion-icon>
																<ion-icon name="star" class="icon-star"></ion-icon>
																<ion-icon name="star" class="icon-star"></ion-icon>
																<ion-icon name="star" class="icon-star"></ion-icon>
																<ion-icon name="star" class="icon-star"></p>
															<p class="mb-0">Aurélie Krau:</p>
														</div>
													</div>
												</p>
												<p class="card-text">
													Vibrant and fun city. Amazing people, those Dutchies. One of the signature dishes, bitterballen, is something you should try. Tip: Say ‘Goedemorgen’ to win over…
												</p>
											</div>
										</div>

										<div class="card shadow-sm mt-3">
											<div class="card-body">
												<h5 class="card-title font-weight-light">Food & Entertainment</h5>
												<p class="card-text">
													<strong>Restaurant</strong><br />
													Open with restrictions.
												</p>
												<p class="card-text">
													<strong>Shopping</strong><br />
													Open.
												</p>
												<p class="card-text">
													<strong>Events</strong><br />
													Outdoor and indoor events with up to 30 people with social distancing allowed.
												</p>
												<p class="card-text">
													<strong>Tourist attractions</strong><br />
													Open with restrictions.
												</p>
												<p class="card-text">
													<strong>Nike preferred conduct</strong><br />
													Please eat the hotel restaurant to ensure maximum safety and hygiene. Try to minimize shopping, attending events and visiting tourist attractions.
												</p>
											</div>
										</div>
										<div class="card shadow-sm mt-3">
											<img src="/images/cityguide_banner.jpg" class="card-img" alt="Timeshifter">
										</div>
										<div class="card shadow-sm mt-3">
											<div class="card-body">
												<h5 class="card-title font-weight-light">Office</h5>
												<p class="card-text">
													<strong>Restrictions</strong><br />
													Open with social distancing.
												</p>
											</div>
										</div>
									</div>
								</div>
								<!-- End city -->

								<!-- Start well being -->
								<div class="tab-pane fade" id="wellbeing" role="tabpanel" aria-labelledby="wellbeing-tab">
									<div class="col-12 pt-3">
										<div class="card shadow-sm">
											<div class="card-body">
												<h5 class="card-title font-weight-light">Health</h5>
												<p class="card-text">
													<strong>Health kit</strong><br />
													You need to pick up a health kit from your local office.
												</p>
												<p class="card-text">
													<strong>Special insurance</strong><br />
													All Nike travelers have special travel insurance that covers all health incidents, including COVID-19 related hospital admittance.
												</p>
												<p class="card-text">
													<strong>Quarantine cost</strong><br />
													Nike covers all quarantine costs in case of mandatory quarantine upon entry, or when quarantined upon contact with an infected individual.
												</p>
											</div>
										</div>
										<div class="card shadow-sm mt-3">
											<img src="/images/headspace_banner.jpg" class="card-img" alt="Headspace">
										</div>
										<div class="card shadow-sm mt-3">
											<img src="/images/ntc_banner.jpg" class="card-img" alt="NTC">
										</div>
										<div class="card shadow-sm mt-3">
											<div class="card-body">
												<h5 class="card-title font-weight-light">Exercise</h5>
												<p class="card-text">
													<strong>Nike gyms</strong><br />
													You have free access to all gyms that are connected to Nike Training Club.
												</p>
												<p class="card-text">
													<strong>Daily allowance</strong><br />
													We believe in healthy travel at Nike; you can spend $20 every day to work out at any gym or sports club.
												</p>
											</div>
										</div>
										<div class="card shadow-sm mt-3">
											<img src="/images/timeshifter_banner.jpg" class="card-img" alt="Timeshifter">
										</div>
									</div>
								</div>
								<!-- End well-being -->

								<!-- Start sustainability -->
								<div class="tab-pane fade" id="sustainability" role="tabpanel" aria-labelledby="sustainability-tab">
									<div class="col-12 pt-3">
										<div class="card shadow-sm">
											<div class="card-body">
												<h5 class="card-title font-weight-light">Health</h5>
												<p class="card-text">
													<strong>Health kit</strong><br />
													You need to pick up a health kit from your local office.
												</p>
												<p class="card-text">
													<strong>Special insurance</strong><br />
													All Nike travelers have special travel insurance that covers all health incidents, including COVID-19 related hospital admittance.
												</p>
												<p class="card-text">
													<strong>Quarantine cost</strong><br />
													Nike covers all quarantine costs in case of mandatory quarantine upon entry, or when quarantined upon contact with an infected individual.
												</p>
											</div>
										</div>
										<div class="card shadow-sm mt-3">
											<div class="card-body">
												<h5 class="card-title font-weight-light">Exercise</h5>
												<p class="card-text">
													<strong>Nike gyms</strong><br />
													You have free access to all gyms that are connected to Nike Training Club.
												</p>
												<p class="card-text">
													<strong>Daily allowance</strong><br />
													We believe in healthy travel at Nike; you can spend $20 every day to work out at any gym or sports club.
												</p>
											</div>
										</div>
										<div class="card shadow-sm mt-3">
											<img src="/images/impact_banner.jpg" class="card-img" alt="Corona symptoms">
										</div>
									</div>
								</div>
								<!-- End sustainability -->

							</div>
						</div>
					</div>






				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>