

				<!-- Start top card -->
				<div class="row">
					<div class="col-12 px-0">
						<div class="card rounded-0 border-0">

							<div class="card-body text-center">
		
						<!-- Start header image -->
				<div class="row">
					<div class="col-12 px-0 text-left">
						<a href="javascript:history.back();"><img src="/images/layout/back.png" style="margin-left: 1.25rem; width: 38px;"></a>
					</div>
				</div>  
				<!-- End header image -->
		
								<img src="/images/emotions/Feel-o-matic_icon.png" style="max-width: 30%;" class="mt-5 mb-5" />
								
								<h4 class="mb-5">How do you feel?</h4>
								
								<div class="row">
									
									<div class="col-md-12">
										  <div class="form-group">
										    <label for="formControlRange"><strong>Happy</strong></label>
										    <input type="range" class="custom-range" id="formControlRange">
										  </div>
									</div>
									
									<div class="col-md-6 text-left"><span style="color: #919191; font-weight: 300">Not at all</span></div>
									<div class="col-md-6 text-right"><span style="color: #919191; font-weight: 300">Extremely</span></div>
								</div>
								
								
								<div class="row mt-5 mb-5">
									
									<div class="col-md-12">
										  <div class="form-group">
										    <label for="formControlRange"><strong>Healthy</strong></label>
										    <input type="range" class="custom-range" id="formControlRange">
										  </div>
									</div>
									
									<div class="col-md-6 text-left"><span style="color: #919191; font-weight: 300">Not at all</span></div>
									<div class="col-md-6 text-right"><span style="color: #919191; font-weight: 300">Extremely</span></div>
									
								</div>
								
								
								<div class="row mt-5 mb-5">
									
									<div class="col-md-12">
										  <div class="form-group">
										    <label for="formControlRange"><strong>Safe</strong></label>
										    <input type="range" class="custom-range" id="formControlRange">
										  </div>
									</div>
									
									<div class="col-md-6 text-left"><span style="color: #919191; font-weight: 300">Not at all</span></div>
									<div class="col-md-6 text-right"><span style="color: #919191; font-weight: 300">Extremely</span></div>
								</div>
								
								<div class="row">
									<div class="col-md-12 text-center"><a href="/emotions/check" class="btn btn-submit">Next</a></div>
									<div class="col-md-12 text-center" style="vertical-align: middle; line-height: 41px;"><a href="/emotions/timeline" class="text-dark">Skip</a></div>
								</div>
								<br /><Br />
							</div>
						</div>
					</div>
				</div>