<div style="position: relative;">
	<img class="img-fluid" src="/images/emotions/timeline_dark.jpg" />
	
		<div id="hover" class="text-center" style="z-index: 999; padding: 25px; width: 60%; background: #fff; top: 25%; left: 20%; position: absolute; height: 586px; border-radius: 10px;">
		<h4>Checking in with you</h4>
		
		<img src="/images/emotions/jeroen.png" style="max-width: 50%;" class="mt-5 mb-5" />
		
		<p>Dear Traveler, in these turbulent times it’s important to stay connected with one another. </p>
		
		<p>I’d like to ask you a few questions on how you’re feeling during this trip.</p>
		
		<div class="row mt-3 mb-4">
			<div class="col-md-12 text-center">
				<span class="dot"></span>
				<span class="dot white"></span>
				<span class="dot white"></span>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4 text-center" style="vertical-align: middle; line-height: 41px;"><a href="/emotions/timeline" class="text-dark">Skip</a></div>
			<div class="col-md-8 text-center"><a href="/emotions/feelings" class="btn btn-submit">Let's go!</a></div>
		</div>
	</div>
</div>