<p class="card-text">When traveling it’s imperative that you bring your Nike health kit along for the ride. As your travel team we’ve arranged for your health kit to be send to your house for your safety and convenience.</p>

<p class="card-text">When for whatever reason it becomes unable to send the kit to your place in time, you’re free to request an appointment to collect one at your office.</p>